<% provide(:title, "6") %>
<% provide(:p, "#{ render partial: 'partials/search_box', locals: { path: static_pages_proverbs6_path }}".html_safe) %>

<%= render partial: 'partials/word_plot', locals: { proverb: @proverbs6 } %>


<div class="row">

	<%= render partial: 'partials/index_partial', locals: { proverb: @proverbs6 } %>

	<% if params[:commit] %>
		<div class="col-sm">
			<%= render partial: 'partials/html_mapping', locals: { chapter_num: @common, key_values: @key_values, client: @client, bwp: @bwp  } %><br><br>
		</div>
	<% end %>

</div>
