<!-- 
		 Partial page for Word Cloud per chapter.
		 Associated Javascript getWordChartConfig() method is 
		 located at app/assets/javascripts/charts/word_cloud.js 
-->

<div id='chapterWordChart'></div>

<script>
  zingchart.render({ 
    id: 'chapterWordChart', 
    data: getWordChartConfig('<%= @joinedVerses %>', '<%= @sw %>'), 
    height: 150, 
    width: '100%' 
  });
</script>
