/**
	* Below are the color codes used in the styling sheets of this web app.
	*/


/* chart palette */
$teal: #4abdac;
$teal-opacity70: rgba(#4abdac, .70);
$sky-blue: #4a95bd;

$bright-orange: #fc4a1a;
$tangerine-orange: #f78733;

$red-orange: #fc4a1a;
$red-orange-light: #f78062;

$fuschia-pink: #cc0950;
$fuschia-pink-light: #db5284;
$fuschia-pink-opacity50: rgba(#cc0950, .50);

/* font colors */
$dark-faded-gray: #1e1e1e;
$dark-faded-gray-opacity80: rgba(#1e1e1e, .80);
$dark-faded-gray-opacity60: rgba(#1e1e1e, .60);
$dark-faded-gray-opacity40: rgba(#1e1e1e, .40);


