/** 
	* This stylesheet contains styles for the 
	* jumbotron banner which lives at the application layer.
	*/


.jumbotron {
	text-align: center;
	background-color: $teal;
	.jumbotron-yield-p {
		font-size: 12px;
	}
	.jumbotron-p {
		font-size: 12px;
	}
}

